<%- include ("partials/header") %>
<div class="container">
	<h1> Thank you for visiting.</h1>
	<p> My intention for this site is only as a proof of concept about my skills to show to potential employers. This is still under development and will add more and more features and improvements on a regular basis.</p>
	<p>
		For this stack I am using Nodejs, Express, javascript, jQuery, mongoDB, mongoose. I am also using GIT to track all changes in my code, the source code is also available on GitHub.
	</p>
</div>

<%- include ("partials/footer") %>