<%- include ("../partials/header") %>
<div class="container">
	<h1 class="text-center">Add new campsite</h1>
	<form action="/camps" method="POST">
		<div class="form-group">
			<label for="CampName"></label>
			<input type="text" class ="form-control" name="campName" id="CampName" placeholder="Enter camp name">
			<label for="url"></label>
			<input type="text" class="form-control" name="img" id="url" placeholder="Paste camp url">
			<label for="caption"></label>
			<input type="text" class="form-control" name="caption" id="caption" placeholder="Enter description here...">
			<label></label>
			<button type="buton" class = "btn btn-primary btn-block btn-lg">Submit Camp</button>
		</div>
		
	</form>
</div>
<%- include ("../partials/footer") %>